In [1]:
# Using SQL + Pandas
import pandas as pd
import numpy as np

# Data Visualization
from plotnine import *
import seaborn as sns
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read in the data
DC = pd.read_csv("Data/DC.csv")
NY = pd.read_csv("Data/NY.csv")
CH = pd.read_csv("Data/CH.csv")
CA = pd.read_csv("Data/CA.csv")

In [3]:
# Row bind all data
dat = pd.concat([DC,NY,CH,CA],sort=False)

In [4]:
# View the head of the data
dat.head()

,name,url,phone,address,rating,review_count,neighborhood,price_range,category,region,michelin_star,michelin_guide
0,a baked joint,https://www.yelp.com/biz/a-baked-joint-washing...,(202) 408-6985,430 K St NW,4.5,1918,NaN,1.0,"['Coffee & Tea', 'Breakfast & Brunch', 'Sandwi...",Washington DC,0,0
1,zaytinya,https://www.yelp.com/biz/zaytinya-washington,(202) 638-0800,701 9th St NW,4.0,4687,NaN,3.0,"['Greek', 'Turkish', 'Lebanese']",Washington DC,0,1
2,le diplomate,https://www.yelp.com/biz/le-diplomate-washington,(202) 332-3333,1601 14th St NW,4.5,3607,Logan Circle,3.0,"['Brasseries', 'French', 'Breakfast & Brunch']",Washington DC,0,0
3,unconventional diner,https://www.yelp.com/biz/unconventional-diner-...,(202) 847-0122,1207 9th St NW,4.5,1166,Shaw,2.0,"['American (New)', 'Breakfast & Brunch']",Washington DC,0,1
4,old ebbitt grill,https://www.yelp.com/biz/old-ebbitt-grill-wash...,(202) 347-4800,675 15th St NW,4.0,8513,NaN,2.0,"['Bars', 'American (Traditional)', 'Breakfast ...",Washington DC,0,0

In [5]:
# View the shape of the data
dat.shape

(13700, 12)

In [6]:
# View the data type of each column
dat.dtypes

name               object
url                object
phone              object
address            object
rating            float64
review_count        int64
neighborhood       object
price_range       float64
category           object
region             object
michelin_star       int64
michelin_guide      int64
dtype: object

In [7]:
# Count NaNs in each column
dat.isna().sum()

name                 0
url                  0
phone              269
address            225
rating               0
review_count         0
neighborhood      3772
price_range       2269
category             1
region               0
michelin_star        0
michelin_guide       0
dtype: int64

In [8]:
# Drop NaNs
dat.dropna(subset=['price_range','category'],inplace=True)
dat.shape

(11431, 12)

In [9]:
import ast
dat.category = dat.category.apply(ast.literal_eval)

In [10]:
cat_dummies = (pd
               .get_dummies(dat.category.apply(pd.Series),
                            prefix='',
                            prefix_sep='')
               .sum(level=0, axis=1))

cat_dummies.head()

,Acai Bowls,Afghan,African,Airport Lounges,American (New),American (Traditional),Antiques,Apartments,Arabian,Arcades,...,Piadina,Piercing,Poutineries,Shaved Snow,Skin Care,Swimming Pools,Used Bookstore,Walking Tours,Mags,Music & Video
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
dat = pd.concat([dat,cat_dummies],axis=1,sort=False)

In [12]:
cat_dummies.columns[300:]

Index(['Party & Event Planning', 'Personal Chefs', 'Personal Shopping',
       'Pop-Up Restaurants', 'Public Markets', 'Recording & Rehearsal Studios',
       'Sardinian', 'Scottish', 'Shopping', 'Smokehouse', 'Social Clubs',
       'Sports Clubs', 'Syrian', 'Tabletop Games', 'Team Building Activities',
       'Trivia Hosts', 'Vacation Rentals', 'Vermouth Bars',
       'Veterans Organizations', 'Vintage & Consignment', 'Wedding Planning',
       'Wholesale Stores', 'Wine & Spirits', 'Wraps', 'Yoga',
       'Aircraft Repairs', 'Art Tours', 'Bangladeshi', 'Beer Tours',
       'Bike Repair/Maintenance', 'Boat Tours', 'Books', 'Bulgarian',
       'Champagne Bars', 'Herbs & Spices', 'Iberian', 'Kids Activities',
       'Mini Golf', 'Musicians', 'Office Equipment', 'Piadina', 'Piercing',
       'Poutineries', 'Shaved Snow', 'Skin Care', 'Swimming Pools',
       'Used Bookstore', 'Walking Tours', 'Mags', 'Music & Video'],
      dtype='object')

In [13]:
drop = ['Airport Lounges', 'Antiques', 'Apartments',
       'Arcades','Art Galleries', 'Art Supplies',
       'Banks & Credit Unions', 'Bespoke Clothing', 'Bikes',
       'Blow Dry/Out Services', 'Boating', 'Bookstores', 'Botanical Gardens',
       'Bowling', 'Bridal', 'Casinos', 'Cinema',
       'Comedy Clubs', 'Convenience Stores', 'Cooking Classes', 'Cooking Schools',
       'Cosmetics & Beauty Supply', 'Dance Clubs', 'Day Spas',
       'Do-It-Yourself Food', 'Drugstores', 'Electronics Repair',
       'Escape Games', 'Festivals', 'Florists',
       'Framing', 'Fur Clothing',
       'Furniture Stores', 'Gas Stations', 'Gold Buyers', 'Golf',
       'Grocery', 'Hair Loss Centers', 'Hair Removal',
       'Hair Salons', 'Hair Stylists', 'Health Markets',
       'Hotels', 'International Grocery', 'Jewelry',
       'Karaoke', 'Landmarks & Historical Buildings', 'Laotian', 'Latin American',
       'Lingerie', 'Magicians', 
       "Men's Clothing", 'Museums', 'Music & DVDs', 'Music Venues',
       'Musical Instruments & Teachers', 'Nail Salons', 'Organic Stores',
       'Performing Arts', 'Pet Stores', 'Plus Size Fashion',
       'Pool Halls', 'Pubs', 'Resorts', 'Rugs',
       'Seafood Markets', 'Sewing & Alterations', 'Shopping Centers', 
       'Speakeasies', 'Tattoo', 'Tobacco Shops', 'Tours', 'Used', 'Vape Shops',
       'Venues & Event Spaces', 'Vinyl Records',
       "Women's Clothing", 'Accessories', 'Art Museums',
       'Bed & Breakfast', 'Beverage Store',
       'Cabaret', 'Cultural Center', 'Electronics', 'Event Planning & Services',
       'Eyelash Service', 'Floral Designers', 'Flowers & Gifts', 
       'Food Tours', 'Formal Wear', 'Furniture Rental', 'Gift Shops', 
       'Head Shops', 'Home Decor', 'Ice Delivery',
       'Internet Cafes', 'Libraries', 'Makeup Artists', 'Mattresses',
       'Meaderies', 'Mobile Phone Repair', 'Party & Event Planning', 
       'Personal Chefs', 'Personal Shopping', 'Pop-Up Restaurants', 
       'Public Markets', 'Recording & Rehearsal Studios',
       'Shopping', 'Tabletop Games', 'Team Building Activities',
       'Trivia Hosts', 'Vacation Rentals', 
       'Veterans Organizations', 'Vintage & Consignment', 'Wedding Planning',
       'Wholesale Stores', 'Yoga',
       'Aircraft Repairs', 'Art Tours', 'Beer Tours',
       'Bike Repair/Maintenance', 'Boat Tours', 'Books', 
       'Herbs & Spices', 'Kids Activities',
       'Mini Golf', 'Musicians', 'Office Equipment', 'Piercing',
       'Skin Care', 'Swimming Pools',
       'Used Bookstore', 'Walking Tours', 'Mags', 'Music & Video',
       'Breweries', 'Brewpubs', 'Candy Stores', 'Cheese Shops', 
       'Custom Cakes', 'Distilleries', 'Dive Bars', 
       'Food Court', 'Food Delivery Services', 'Food Stands',
       'Food Trucks', 'Fruits & Veggies', 'Gastropubs', 'Gay Bars',
       'Hookah Bars', 'Imported Food', 'Irish Pub', 'Jazz & Blues', 'Meat Shops',
       'Patisserie/Cake Shop', 'Piano Bars', 'Sports Bars', 
       'Street Vendors', 'Supper Clubs', 'Australian', 'Bartenders', 
       'Dinner Theater', 'Social Clubs', 'Sports Clubs']

In [14]:
for i in drop:
    dat = dat[dat[i] != 1]

dat.drop(columns=drop,inplace=True)

In [15]:
dat.shape

(9365, 198)

In [16]:
# Export to a CSV file
dat.to_csv('Data/restaurant_data.csv',index=False)